@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;

}
#root {
  min-height: 100vh;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #ffffff;
}